{% load static %}
  <link rel="stylesheet" href="{% static 'css/auth.css' %}" />

  <div class="container expanded">

    <a href="{% url 'role' %}" class="back-btn">← Back</a>

    <h2>{{ role|capfirst }} Portal</h2>
    <p class="subtitle">Create a new account</p>

    <form method="POST" class="form">
      {% csrf_token %}

      {% for field in form %}
        {{ field }}
        {% if field.errors %}
          <p class="error">{{ field.errors|join:", " }}</p>
        {% endif %}
      {% endfor %}

      <button type="submit">Signup</button>
    </form>

    <p class="switch-text">
      Already have an account?
      {% if role == 'user' %}
        <a href="{% url 'login_user' %}">Login here</a>
      {% else %}
        <a href="{% url 'login_owner' %}">Login here</a>
      {% endif %}
    </p>

  </div>